@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #0F0D13;

  --color-primary: #2A2141;
  --color-secondary: #E1E1E6;

  --border-color: #50358D;

  --progress-music-color: #D9D9D9;

  font-size: 62.5% /* 1rem = 10px */;
}

body {
  background: var(--background);
  color: var(--color-secondary);
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -mos-osx-front-smoothing: grayscale;
}